{%extends 'base.html'%}
{% block title%}Home | Meu Portifólio{%endblock%}

{%block content%}
    <section>
        <h1>Sobre Mim:</h1>
        <p>Ola! Meu nome é igor sou Desenvolvedor </p>
    </section>
    <section>
        <h2>Habilidades</h2>
        <ul>
            {% for chave,dados in habilidades.items%}
            <li>{{dados.nome}}</li>
            {% endfor %}
        </ul>
    </section>
     <section> 
        <h2>Contatos</h2>
        <p>Email: idupalmieri@hotmail.com</p>
        <p>Linkedin </p>
    </section>
{%endblock%}